*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #a3a3a3;
}

body{
    font-family: 'Cabin', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;

    min-width: 384px;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.column-flex{
    display: flex;
    flex-direction: column;
}

.scroll{
    overflow-y:scroll;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}
/**************************** DESKTOP FIRST **************************/


/* NAV BAR */
.side-bar{
    background-color: black;

    height: calc(100vh - 80px);
    width: 200px;
    justify-content: space-between;
    padding: 0 1rem;
}

.nav-options, .bottom-options{
    width: 100%;
}

.nav-options .logo{
    margin: .5rem 0;
    text-align: left;
    width: 80%;
}

.nav-main-commands{
    margin-bottom: 2rem;
}

.home-link{
    color: white;
}

.nav-options li{
    margin: .4rem 0;
    align-items: center;
    font-size: .9rem;
}

.playlists li{
    font-size: .8rem;
    margin: .8rem 0;
}

.nav-options h1{
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
    margin-bottom: .8rem;
}

.nav-options img:not(.logo){
    width: 25px;
    height: 25px;
    margin-right: .2rem;
}

.download img{
    width: 15px;
    height: 15px;
    margin-right: .2rem;
}

.search, .library{
    filter: invert(.4);
}

.green-bar{
    height: 25px;
    width: 4px;

    left: 0;
    background-color: #adff2f;
}

.categories .green-bar{
    bottom: -6px;
    height: 2px;
    width: 30px;

    left: 50%;
    transform: translate(-50%, 0);

}

.playlists i{
    margin-right: .2rem;
    font-size: 2rem;
}

.main-content{
    background-color: #141922;
    width: calc(100% - 200px);
    height: calc(100vh - 80px);
}

.download{
    padding: .5rem 0;
    width: 100%;
    border-bottom: 1px solid #a3a3a3;
    font-size: .7rem;
}

.download a{
    align-items: center;
}

.user{
    padding: .5rem 0;
    width: 100%;
    align-items: center;
}

.user img{
    filter: invert(0);
    width: 25px;
    height: 25px;
    background-color: gray;
    border-radius: 50%;
    margin-right: .5rem;
}

.user h2{
    font-size: 1rem;
    color: white;
}

.icons-viewport-xs{
    display: none;

    width: 25px;
    height: 25px;
    filter: invert(.4);
}

/* MAIN SECTION */

.upgrade{
    background-color: #080b12;
    width: 100%;
    text-align: right;
}

.upgrade button{
    background-color: #080b12;
    margin: 1rem .5rem 1rem 0;
    text-transform: uppercase;
    padding: .5rem 2rem;
    border: 1px solid white;
    border-radius: 1rem;
    transition: all 1s;
}

.categories{
    padding: .5rem 0;
}

.categories ul{
    justify-content: center;
}

.categories ul li{
    margin: 0 .5rem;
    font-size: small;
    text-transform: uppercase;
}

.recently-played, .generated-mix, .popular-artists{
    width: 100%;
    padding-left: .5rem;
    margin-top: 2rem;
}

.main-content h1{
    font-weight: 700;
    margin: 1rem 0 .5rem 0;
    color: white;
}

.row{
    width: 100%;
}

.element{
    width: calc(100% / 6 - .5rem);
    margin-right: .5rem;
    text-align: center;
}

.img-container img{
    width: 100%;
    display: block;
}

.element h2{
    color: white;
    font-size: 100%;
    margin: .5rem 0;
}

.element h3{
    font-size: 90%;
}

.advice{
    display: block;
    margin: .5rem 0 1rem 0;
    font-size: .8rem;
}

/* FOOTER SECTION */

.commands-bar{
    height: 80px;
    width: 100%;
    position: relative;

    background-color: #282828;
}

.commands-bar i:not(.icons i){
    color: white;
}

.command-box{
    width: calc(100% / 3);
    height: 100%;
}

.song-info{
    align-items: center;
    padding: .5rem;
}

.song-info > *{
    margin-right: .8rem;
}

.song-info img{
    width: 40px;
    height: 40px;
}

.title-song{
    font-size: .5rem;
}

.title-song h1{
    color: white;
}

.icons i{
    margin: 0 .2rem 0 .5rem;
}

.command-icons, .time-bar{
    height: 50%;
    width: 100%;
}

.command-icons{
    align-items: center;
    justify-content: center;
    padding-top: .5rem;
}

.command-icons i{
    margin: 0 .5rem;
}

.time-bar{
    align-items: center;
    justify-content: space-around;
    font-size: .7rem;
    font-weight: bold;
    padding-bottom: .5rem;
}

.time-bar span{
    display: block;
}

.bar-lenght{
    width: 75%;
    height: 4px;
    background-color: gray;
    border-radius: 1rem;
}

.progress-bar{
    background-color: white;
    width: 20%;
    height: 100%;
    border-radius: 1rem;
}

.volume-options{
    align-items: center;
    justify-content: flex-end;
    padding: .5rem;
}

.volume-options > *{
    margin-left: .7rem;
}

.volume-bar{
    width: 30%;
    height: 4px;
    background-color: gray;
    border-radius: 1rem;
}

.popular-artists .img-container{
    border-radius: 50%;
    overflow: hidden;
   
}

.popular-artists img{
    border-radius: 50%;
    
}

/* MEDIUM VIEWPORT */
@media screen and (max-width: 800px){
    .element{
        width: calc(100% / 4 - .5rem);
        margin-bottom: 1rem;
    }

    .categories ul{
        flex-wrap: wrap;
    }

    .categories ul li{
        margin: 0 .5rem 1rem;
    }
}

/* SMALL VIEWPORT */
@media screen and (max-width: 600px){
    .element{
        width: calc(100% / 2 - .5rem);
    }

    .icons i{
        margin: 0 .2rem .3rem .5rem;
    }
}

/* EXTRASMALL VIEWPORT */
@media screen and (max-width: 450px){
    .side-bar{
        width: fit-content;
        padding-top: 1rem;
    }

    .main-content{
        width: 100%;
    }

    .side-bar > *{
        display: none;
    }

    .icons-viewport-xs{
        display: block;
    }

    .icons-viewport-xs img{
        margin-bottom: .5rem;
    }

    .icons i{
        margin: 0 .2rem .3rem .3rem;
    }

    .icons-viewport-xs{
            filter: invert(0);
    }

    .small-library, .small-search{
        filter: invert(.4);
    }

    .commands-bar > :nth-child(2){
        margin-left: 1rem;
    }

    .title-song{
        margin-right: .2rem;
    }

    
}


/******************* HOVER *****************/

.upgrade button:hover{
    scale: 1.1;
}

.upgrade button:hover a{
    color: white;
}

.categories li a:hover{
    color: white;
    transition: color .5s;
}

.hover-cover{
    position: absolute;
    top: 0;
    bottom: 0;
    

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    display: none;
}

.element .img-container:hover .hover-cover{
    display: block;
}

.element i{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    display: none;
}

.element .img-container:hover .fa-circle-play{
    display: block;
}

.side-bar li:hover a, .download:hover a{
    color:white;
}

.side-bar li:hover .fa-square-plus{
    color: white;
}

.commands-bar .icons i:hover{
    color: white;
}

.title-song h2:hover a{
    color: white;
    text-decoration: underline;
}
.title-song h1 a{
    color: white;
}

.command-icons .fa-circle-play:hover{
    scale: 1.1;
}

.progress-bar:hover{
    background-color: #adff2f;
}

.fa-circle{
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;

    visibility: hidden;
}
.progress-bar:hover .fa-circle{
    visibility: visible;
}

.volume-bar .fa-circle, .time-bar .fa-circle{
    font-size: .6rem;
}


