*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    font-family: 'Cabin', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.column-flex{
    display: flex;
    flex-direction: column;
}

.left{
    float: left;
}

.clearfix{
    content: '';
    display: table;
    clear: both;
}


/**************************** DESKTOP FIRST **************************/


/* NAV BAR */
.side-bar{
    background-color: black;

    height: calc(100vh - 100px);
    width: 250px;
    padding: 1rem;
    justify-content: space-between;
}

.nav-options, .bottom-options{
    width: 100%;
}

.nav-options #logo{
    width: 60%;
    margin: .5rem 0;
}

.main-content{
    background-color: gray;
    width: calc(100% - 250px);
    height: calc(100vh -100px);
    overflow-y: hidden;
}

.commands-bar{
    height: 100px;
    width: 100%;

    background-color: darkgray;
}

.nav-options{
    border: 1px solid red;
}

.bottom-options{
    border: 1px solid red;
}

/* MAIN SECTION */

.upgrade{
    background-color: blue;
    width: 100%;
    text-align: right;
    padding: .5rem;
}

.upgrade button{
    background-color: blue;
    margin: 1rem 0;
    text-transform: uppercase;
    padding: .5rem 2rem;
    border: 1px solid white;
    border-radius: 1rem;
}

.categories{
    background-color: green;
    padding: .5rem 0;
}

.categories ul{
    justify-content: center;
}

.categories ul li{
    margin: 0 .5rem;
    font-size: small;
    text-transform: uppercase;
}

.recently-played, .generated-mix, .popular-artists{
    width: 100%;
    border: 1px solid yellow;
    padding-left: .5rem;
}

.main-content h1{
    font-weight: 700;
    font-size: 1.25rem;
}

.row{
    width: 100%;
}

.element{
    width: calc(100% / 6 - .5rem);
    margin-right: .5rem;
}


.element img{
    width: 100%;
}

.advice{
    display: block;
}


@media screen and (max-width: 768){
    
}

@media screen and (max-width: 576){
    
}

@media screen and (max-width: 992){
    
}


